@font-face {
    font-family: "Raleway";
    src: url('../font/Raleway-SemiBold.ttf') format('ttf');
}

.root{
    -fx-background-color: '#4028de';
    -fx-background-image: url('../img/hom.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: left;
}

#homeblock{
    -fx-fill: '#AC00C1';
    -fx-stroke: "BLACK";
    -fx-strokeType: "INSIDE";
}

.button{
    -fx-background-color: '#E64A19';
    -fx-text-fill: 'white';
    -fx-text-alignment: "CENTER";
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 20px;
}

#active, #inactive{
    -fx-font-size: 20px;
}

#active{
    -fx-background-color: '#FFAA33';
}

#inactive{
    -fx-background-color: '#888888';
}

#back{
    -fx-layoutX: 40;
    -fx-layoutY: 40;
    -fx-background-color: '#EC1C24';
    -fx-pref-width: 85;
    -fx-pref-height: 45;
    -fx-text-alignment: "RIGHT";
}

#formsquare{
    -fx-fill: '#00ACC1';
    -fx-stroke: "BLACK";
    -fx-strokeType: "INSIDE";
}

#formsubmit{
    -fx-font-size: 25px;
}