@font-face {
    font-family: "Raleway";
    src: url('../font/Raleway-SemiBold.ttf') format('ttf');
}

.root{
    -fx-background-color: '#4028de';
}

#homeblock{
    -fx-background-color: '#AC00C1';
    -fx-border-color: 'BLACK';
    -fx-border-width: 1px;
    -fx-fill: '#AC00C1';
    -fx-stroke: "BLACK";
    -fx-strokeType: "INSIDE";
}

.button{
    -fx-background-color: '#E64A19';
    -fx-text-fill: 'white';
    -fx-text-alignment: center;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 20px;
}

#back{
    -fx-layoutX: 40;
    -fx-layoutY: 40;
    -fx-background-color: '#EC1C24';
    -fx-pref-width: 85;
    -fx-pref-height: 45;
    -fx-text-alignment: "RIGHT";
}

#menubutton, #roomlist{
    -fx-background-color: '#E64A19';
}

#rentbutton{
    -fx-background-color: 'yellow';
    -fx-text-fill: 'red';
}

#formsquare{
    -fx-background-color: '00ACC1';
    -fx-border-color: 'BLACK';
    -fx-border-width: 1px;
    -fx-fill: '#00ACC1';
    -fx-stroke: "BLACK";
    -fx-strokeType: "INSIDE";
}

#formsubmit{
    -fx-font-size: 25px;
}

.label{
    -fx-font-size: 20px;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-text-fill: 'white';
}

.hyperlink{
    -fx-background-color: '#98FF98';
    -fx-border-color: 'BLACK';
    -fx-border-width: 1px;
    -fx-font-size: 20px;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-text-fill: 'blue';
    -fx-alignment: "CENTER";
}

#880box, #blgtitlelabel{
    -fx-font-size: 12px;
    -fx-font-family: 'System';
    -fx-text-fill: 'black';
}

#blgLabel{
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 12px;
    -fx-text-fill: 'white';
    -fx-alignment: center;
    -fx-text-alignment: "CENTER";
}

#headerlabel
{
    -fx-font-size: 40px;
    -fx-alignment: "CENTER";
}